{% extends 'base.html' %}

{% block title %}Cart | {% endblock %}

{% block content %}

<div id="cartapp">
    <h1 class="title">Cart</h1>

    {% if cart %}
        {% for item in cart %}
            {% with product=item.product %}
                <p>{{ product.title }}</p>
                <button @click="removeProduct({{ product.id }})">Remove from Cart</button>
            {% endwith %}
        {% endfor %}
    {% else %}
        <p>Your Cart is Empty</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#cartapp',
        delimeters: ['[[', ']]'],
        data () {
            return {

            }
        },
        mounted () {
            console.log('Mounted');
        },
        methods: {
            addToCart(product_id){

            }
        }
    });
</script>
{% endblock %}